%p#notice= notice

%p
  %b Account name:
  = @account.name

%ul
  - @account.github_repositories.each do | repository |
    %li
      %a(href="#{dashboard_github_repository_path(repository.id)}")=repository.full_name


= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
